<link rel="stylesheet" href="/css/vendor.min.css">
<link rel="stylesheet" href="/css/BootstrapXL.css">
<link rel="stylesheet" href="/css/thalia.css">
<link rel="stylesheet" href="/css/dataviz.css">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script src="/js/vendor.min.js"></script>
<script src="/js/scripts.min.js"></script>
<script src="/js/showdown.min.js"></script>
<script src="/js/datatables.min.js"></script>
