{{!-- Removes blog header/footer/etc. --}}
<style>

  header,
  header.hidden-xs,
  div.sidebar,
  footer {
    display: none;
  }
  div#dataviz_blog {
    min-height: 100vh;
  }

  div#content_reactive_wrapper {
    width: 100%;
  }
</style>