<style>
#desktopSearch .blogSearch {
    width: 100%;
}
</style>

<div id="mobile_nav" class="visible-xs">
    <div id="title">
        <h1><a href="/">David's Dataviz</a></h1>
    </div>
    {{! 
    <div id="search">
        <input class="blogSearch" placeholder="Search">
        <i class="fas fa-search fa-2x"></i>
    </div>
    <div id="hamburger">
        <i class="fas fa-bars fa-2x"></i>
    </div>
     }}
</div>
<div class="col-md-2 col-sm-3 hidden-xs sidebar">
    <ul>
        <li>
            <a onclick="$('#aboutMe').toggleClass('hidden')" href="#aboutMe">About Me</a>
            <div id="aboutMe" class='hidden'></div>
        </li>
        {{! <li id="desktopSearch"><input class="blogSearch" placeholder="Search"></li> }}
        <ul>
            {{#blogposts}}
                <li><a href="/blog/{{shortname}}">{{title}}</a></li>
            {{/blogposts}}
        </ul>
    </ul>
</div>

<script>
  var md = new showdown.Converter({openLinksInNewWindow: true});
  $("#aboutMe").html(md.makeHtml(`
Hi! I'm David Ma, a bioinformatician from the Peter MacCallum Cancer Centre in Melbourne, Australia. This is my sandbox for experimenting & practicing with d3js. You can see all the source code on [github](https://github.com/david-ma/dataviz). It runs on my framework [Thalia](https://github.com/david-ma/Thalia), which I wrote to practice my nodejs skills.

These data visualisations are mostly part of the [#MakeoverMonday](https://www.makeovermonday.co.uk/) series. And I am aiming to do one each week!

I'm [@Frostickle](https://twitter.com/frostickle) on Twitter!`));

</script>
