<div id="mobile_nav" class="visible-xs">
    <div id="title">
        <h1>David's Dataviz</h1>
    </div>
    <div id="search">
        <input>
        <i class="fas fa-search fa-2x"></i>
    </div>
    <div id="hamburger">
        <i class="fas fa-bars fa-2x"></i>
    </div>
</div>
<div class="col-md-2 col-sm-3 hidden-xs sidebar">
    <ul>
        <li>
            <a onclick="$('#aboutMe').toggleClass('hidden')" href="#aboutMe">About Me</a>
            <div id="aboutMe" class=''></div>
        </li>
        <li><input placeholder="Search"></li>
        <ul>
            {{#blogposts}}
                <li><a target="_blank" href="/blog/{{shortname}}">{{title}}</a></li>
            {{/blogposts}}
        </ul>
    </ul>
</div>



