<script src="/js/require.js"></script>
<script>

    require.config({
        baseUrl: '/js/vendor',
        enforceDefine: true,
        paths: {
            'chart': "/js/chart",
            'datatables.net': "/js/datatables.min",
            'd3': "/js/vendor.min",
            'jquery': "/js/vendor.min"
        },
        shim: {
            chart: {
                exports: "Chart",
                deps: ["d3", "jquery", "datatables.net"]
            },
            d3: {
                exports: "d3"
            },
            "jquery": {
                exports: "$"
            },
            "datatables.net": ["jquery"]
        }
    });

    require(['chart',
            "d3",
            "jquery",
            {{{typescript}}},
            'datatables.net'
        ], function(_chart){});


</script>
