<script>
var require = {
  baseUrl: '/js/vendor',
  urlArgs: 'v={{gitHash}}',
  enforceDefine: false,
  deps: ['chart', 'datatables.net', {{{ typescript }}}],
  paths: {
    'chart': "/js/chart",
    'datatables.net': "/js/datatables.min"
  },
  shim: {
    chart: {
      exports: "Chart",
      deps: ['d3', 'd3-selection-multi', 'd3-scale', "datatables.net"]
    },
    "datatables.net": {
      deps: ["jquery"]
    }
  }
};
</script>
<script src="/js/require.js"></script>