

<link rel="stylesheet" href="/css/atlassian.css">

<div>
  <h1>Atlassian Browser Interview</h1>
  <div id="markdown_text_goes_here"></div>

  <p>hellooo test: ▼ ▶ •</p>

  <p id="test">Test using content code "\2022" instead of the icon "•" </p>
  <p id="test2">Does ASCII text work? </p>

<h2>List</h2>
  <ul id="list">
  </ul>

</div>

{{> require}}

<style>
  #test::after {
    {{!-- content: "▼ ▶ •"; --}}
    content: "\2022"
  }
  #test2::after {
    content: "test 2"
  }
</style>

<script>

  var md = new showdown.Converter({ openLinksInNewWindow: true });

  const current_time = new Date()

  $("#markdown_text_goes_here").html(md.makeHtml(`
Hello Wellington the current time is: ${current_time}


testing: ▼ ▶ •
`))

</script>




