<section class="">

    <div class="row" id="contentBox">
        <div>
            <ul id="tabs">
            </ul>
        </div>
        <form>
            <div class="col-xs-12 col-md-12" id='AwesomeStuff'></div>
        </form>
    </div>
</section>

<style>
    #title {
        text-align: center;
    }
    body.print {
        font-size: 14px;
    }

    div.project {
        page-break-after: always;
    }
</style>

<link rel="stylesheet" href="/css/awesome.min.css">

<script src="/socket.io/socket.io.js"></script>
<script src="/js/awesome.js"></script>