<section class="blogpost">

{{! 
    <div class="row">
        <div class="col-xs-12">
            <h1>Number of years USA was at war, during your lifetime</h1>
            <h2>Originally on <a target="_blank" href="https://www.washingtonpost.com/politics/2020/01/08/nearly-quarter-americans-have-never-experienced-us-time-peace/">The Washington Post</a> by <a target="_blank" href="https://twitter.com/pbump">@pbump</a></h2>
        </div>
    </div> 
}}

    <div class="row" id="contentBox">
        <div>
            <ul id="tabs">
            </ul>
        </div>
        <div class="col-xs-12 col-md-12" id='AwesomeStuff'>

        </div>
    </div>
</section>

<script src="/js/require.js"></script>
<link rel="stylesheet" href="/css/awesome.min.css">

<script src="/js/awesome.js"></script>

