<section class="blogpost">
  <div class="row" id="contentBox">
    <div class="col-xs-12 col-md-6">
      <h1>Breathing Polygons</h1>
      <div id='breatheDiv'></div>
        <div class="col-xs-12 col-lg-8" id="explain"></div>
        <div class="col-xs-12 col-lg-4"><img style="width: 100%;" src="/images/breathe/breathe-in-out-A.gif"></div>
    </div>
    <div class="col-xs-12 col-md-6">
      <h2>Timing Data:</h2>
      <table id='timing'></table>
      <div id="colorExplain"></div>
    </div>
  </div>

  <br>
  <br>
  <br>
</section>

<style>
svg line {
  stroke: black;
  stroke-width: 2;
}
</style>
{{> require}}

<script>
  const md = new showdown.Converter({openLinksInNewWindow: true});

  $("#explain").html(md.makeHtml(`
This gif has been shared around the internet for a bit, but I can't find the original source.

The fuzzy edges and aliasing bothered me so I decided to recreate it in d3.js

I've added colors!

Todo:
- Fix the speed
- Give user controls
- toggle on/off colors, choose different colors
- change number of shapes
- change size of drawing
- save output as gif? save output as svg?

svg to gif example:<br>
[https://bl.ocks.org/veltman/1071413ad6b5b542a1a3](https://bl.ocks.org/veltman/1071413ad6b5b542a1a3)

svg animations help:<br>
[https://css-tricks.com/guide-svg-animations-smil/](https://css-tricks.com/guide-svg-animations-smil/)
`))

$("#colorExplain").html(md.makeHtml(`
Colors thanks to [Color Brewer](https://colorbrewer2.org/#type=diverging&scheme=Spectral&n=11), which is named such because it was made by Cynthia Brewer, not because you brew colors with it.
`))
</script>