<section class="blogpost">
  <br>
  <div class="row" id="contentBox">
    <div class="col-xs-12 col-sm-6" id='breatheDiv'></div>
  </div>
  <div id="explain"></div>
  <img src="/images/breathe/breathe-in-out-A.gif">
  <br>
  <br>
  <br>
</section>

<style>
svg line {
  stroke: black;
  stroke-width: 2;
}
</style>
{{> require}}

<script>
  const md = new showdown.Converter({openLinksInNewWindow: true});

  $("#explain").html(md.makeHtml(`#Breathing polygons

This gif has been shared around the internet for a bit, but I can't find the original source.

The fuzzy edges and aliasing bothered me so I decided to recreate it in d3.js

I got up to the square and then the math got a bit harder and now it's midnight.

Todo: Add more shapes.
`))
</script>