

<style>
#dataviz_blog, div.col-xs-12.col-sm-9.col-md-10 {
  margin-left: 0;
  padding-left: 0;
  margin: 10px !important;
  padding: 0 !important;
}

header, .sidebar, footer {
  display: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
div.a4 {
  height: 29.7cm;
  width: 21cm;
}
#cards {
  width: 21cm;
  height: 29.7cm;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
}

div.card {
  border: dotted 1px rgba(0,0,0,0.2);
  height: 88mm;
  width: 64mm;
  box-sizing: border-box;

}
div.card .category {
  margin-top: 50%;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
div.card .prompt {
  margin-top: 30%;
  font-size: 1.5em;
  text-align: center;
}
</style>

<div id="cards"></div>

{{> require}}

