<section>
  <div id="map"></div>
</section>


{{> require}}

<style>
  #map {
    margin: 10px;
    padding: 0;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.65);
    width: 200px;
    height: 200px;
    border: solid 1px black;
    float: right;
  }
</style>