<section>
  <h1>Melbourne Earthquake!!!</h1>
  <p>This still needs a lot of work, the tweet locations are skewed north-west, and the animation could be nicer. But I'm sick of working on it (for now).</p>
  <p>Basically, this is an animation of all the tweets from the Melbourne Earthquake. It's something like 100x faster than normal speed. I should probably have it closer to real-time at the start of the Earthquake.</p>
  <p>Lots of improvements to be made, but I'm tired now.</p>
  <div id="map"></div>
  <div id="tweets"></div>
</section>


{{> require}}

<style>
  #map {
    border: 1px solid black;
    max-width: 600px;
  }

  #tweets {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    .tweet {
      border: solid 1px black;

      .name {
        font-weight: 700;
      }
    }
  }
</style>