<style>
  header,
  div.sidebar,
  footer {
    display: none;
  }

  text {
    fill: rgba(0, 0, 0, 0);

    &:hover {
      fill: rgba(0, 0, 0, 0.5);
    }
  }

  rect {
    stroke-width: 0.1;
    background: rgb(2, 0, 36);
    fill: linear-gradient(72deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%) !important;

    &.mouseover {
      fill: rgba(0,0,0,0.7) !important;
      stroke-width: 5;
    }
  }

  #legend {
    float: left;
  }

  #filestructure {
    float: left;

    details {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-bottom: 5px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  #popup {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: none;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      border: 1px solid black;
      padding: 5px;
    }

  }
</style>

<div id="popup">
  {{!-- <div id="filename">File: asdfs_filename_goes_here.txt</div> --}}
</div>

<div id="buttons"></div>

<div id="treemap"></div>

<div class="row">
  <div id="legend" class="col-xs-4">
    <table>
      <thead>
        <th></th>
        <th>filename</th>
        <th>count</th>
        <th>size</th>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div id="filestructure" class="col-xs-8">
    Filestructure
  </div>
</div>


<div style="display: none;">
  <svg>
    <defs>
      <linearGradient id="Gradient1">
        <stop class="stop1" offset="0%" />
        <stop class="stop2" offset="50%" />
        <stop class="stop3" offset="100%" />
      </linearGradient>
      <linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0%" stop-color="red" />
        <stop offset="50%" stop-color="black" stop-opacity="0" />
        <stop offset="100%" stop-color="blue" />
      </linearGradient>
    </defs>
  </svg>
</div>

{{> require }}