<style>
  text {
    fill: rgba(0, 0, 0, 0);

    &:hover {
      fill: rgba(0, 0, 0, 0.5);
    }
  }

  rect {
    stroke-width: 0.1;
    background: rgb(2, 0, 36);
    fill: linear-gradient(72deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%) !important;
  }
</style>

<svg>
    <defs>
    <linearGradient id="Gradient1">
      <stop class="stop1" offset="0%" />
      <stop class="stop2" offset="50%" />
      <stop class="stop3" offset="100%" />
    </linearGradient>
    <linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
      <stop offset="0%" stop-color="red" />
      <stop offset="50%" stop-color="black" stop-opacity="0" />
      <stop offset="100%" stop-color="blue" />
    </linearGradient>
  </defs>
</svg>

<div id="legend"></div>

<div id="treemap">

</div>

{{> require }}