<style>
  header,
  header.hidden-xs,
  div.sidebar,
  footer {
    display: none;
  }

  div#dataviz_blog {
    min-height: 100vh;
  }

  div#content_reactive_wrapper {
    width: 100%;
  }

  text {
    fill: rgba(0, 0, 0, 0);

    &:hover {
      fill: rgba(0, 0, 0, 0.5);
    }
  }

  rect {
    stroke-width: 0.1;
    background: rgb(2, 0, 36);
    fill: linear-gradient(72deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%) !important;

    &.mouseover {
      fill: red !important;
      stroke-width: 5;
    }
  }

  #legend {
    width: 100%;
  }

  #filestructure {
    float: left;

    h4,
    p,
    li {
      margin: 0;
    }

    h4 {
      font-weight: bold;
    }

    ul {
      padding-left: 1 0px;
    }


    li.file,
    h4.folder {
      display: flex;
      justify-content: end;

      span.filename,
      span.foldername {
        flex-grow: 1;
      }

      span.filename {
        font-size: 0.8em;

        overflow: scroll;
        white-space: nowrap;
      }

      span.filesize,
      span.fileStatus {
        text-align: right;
        margin-right: auto;
      }

      span.filesize {
        min-width: 100px;
        padding-left: 5px;
      }

      span.status {
        display: inline-block;
        width: 50px;
        text-align: center;
        padding: 2px;
        font-size: 12px;
        text-transform: capitalize;
        font-weight: normal;
        border-radius: 5px;

        &.green {
          color: white;
          background-color: green;
        }

        &.yellow {
          color: black;
          background-color: yellow;
        }

        &.red {
          color: white;
          background-color: red;
        }
      }
    }

    summary {
      cursor: pointer;
    }

    details {
      margin: 0;
      padding: 0;

      summary h4::before {
        content: '📂';
        content: '🗃️';
        content: '🗄️';
        content: '▶️';
      }

      &[open]>summary h4::before {
        content: '📂';
        content: '🗃️';
        content: '🗄️';
        content: '▼';
      }

      li {
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding-left: 5px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-bottom: 2px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  #popup {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: none;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      border: 1px solid black;
      padding: 5px;
    }

  }

  #buttons button {
    margin-right: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
</style>

<div id="popup">
  {{!-- <div id="filename">File: asdfs_filename_goes_here.txt</div> --}}
</div>

<div id="options">
  <div id="buttons"></div>

</div>

<div class="row">
  <div class="col-xs-6">
    <div id="treemap"></div>
    <div id="legend">
      <table>
        <thead>
          <th></th>
          <th>filename</th>
          <th>count</th>
          <th>size</th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <div id="filestructure" class="col-xs-6"></div>

</div>

<div class="row">

</div>


<div style="display: none;">
  <svg>
    <defs>
      <linearGradient id="Gradient1">
        <stop class="stop1" offset="0%" />
        <stop class="stop2" offset="50%" />
        <stop class="stop3" offset="100%" />
      </linearGradient>
      <linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0%" stop-color="red" />
        <stop offset="50%" stop-color="black" stop-opacity="0" />
        <stop offset="100%" stop-color="blue" />
      </linearGradient>
    </defs>
  </svg>
</div>

{{> require }}