<section class="blogpost">

    <div class="row" id="contentBox">
        <div>
            <ul id="tabs">
            </ul>
        </div>
        <div class="col-xs-12 col-md-12" id='friends'>
            <table>
                <thead></thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</section>


<style>
.sidebar {
    display: none;
}
.project {
    padding: 5px;    
}
.project:hover {
    background: lightgrey;
}

td {
    border: solid 1px black;
    padding: 2px;
    text-align: center;
}

td.dates {
    text-align: right;
}

</style>

{{> require}}

