<section id="example" class="blogpost">
  <div class="row" id="contentBox">
    <div class="col-xs-12 col-md-8">
      <br>
      <div id="exampleDiv"></div>
      <div id="day2viz" class="chart"><canvas width="1080" height="1920"
          style="background: rgba(0, 0, 0, 0.05);"></canvas><svg viewBox="0 0 1080 1920"
          style="background: rgba(0, 0, 0, 0.05);">
          <g class="plot" transform="translate(20,20)">
            <rect fill="white" x="0" y="0" height="1880" width="1040"></rect>
          </g><text transform="translate(540,10)" class="chart-title" font-size="24px" font-weight="700"
            text-anchor="middle" x="0" y="0"></text>
        </svg></div>
    </div>
  </div>
</section>

{{!-- Get the canvas and svg to be overlaid on top of each other --}}
{{!-- #day2viz {
canvas {
image-rendering: pixelated;
width: 100%;
}

svg {
image-rendering: pixelated;
position: absolute;
top: 0;
left: 0;


} --}}
<style>
  #day2viz {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1080/800;

    canvas,
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      image-rendering: pixelated;
    }
  }
</style>


{{> require}}


<script>
  var md = new showdown.Converter({ openLinksInNewWindow: true });

  $("#exampleDiv").html(md.makeHtml(`#Genuary 2025

[Day 2](https://genuary.art/prompts#jan2) prompt: "Layers upon layers upon layers."

Inspired by Solitaire and Balatro`));


</script>