<section class="blogpost">
  {{> genuary }}

  <div class="row" id="contentBox">
    <div class="col-xs-12 col-lg-8">
      <div id="description"></div>
      <div id="chart" class="chart"></div>
      {{> showSource}}
    </div>

  </div>
</section>


{{> require }}

<script>
  var md = new showdown.Converter({ openLinksInNewWindow: true });

  $("#description").html(md.makeHtml(`#Genuary 2025

[Day 7](https://genuary.art/prompts#jan7) prompt: "Use software that is not intended to create art or images."

[Paperclip](https://poly.pizza/m/dltdSb45BuE) by [Poly by Google](https://poly.pizza/u/Poly%20by%20Google) [CC-BY](https://creativecommons.org/licenses/by/3.0/) via [Poly Pizza](https://poly.pizza/m/dltdSb45BuE)

I've kind of failed at the prompt, and just spent my time playing with [Rapier](https://rapier.rs/) and [three.js](https://threejs.org/). I might move this code somewhere else, and try this prompt later.
`));

</script>
