<section class="blogpost">
  {{> genuary }}

  <div class="row" id="contentBox">
    <div class="col-xs-12 col-lg-8">
      <div id="description"></div>
      <div id="datavizChart" class="chart"></div>
      {{> showSource}}
    </div>

  </div>
</section>


{{> require }}

<script>
  var md = new showdown.Converter({ openLinksInNewWindow: true });

  $("#description").html(md.makeHtml(`#Genuary 2025

[Day 6](https://genuary.art/prompts#jan6) prompt: "Make a landscape using only [primitive shapes](https://en.wikipedia.org/wiki/Geometric_primitive)."`));
</script>