<section class="blogpost">
  {{> genuary }}

  <div class="row" id="contentBox">
    <div class="col-xs-12 col-lg-8">
      <br>
      <div id="description"></div>
      <div id="datavizChart" class="chart"></div>
      <br>
      {{> showSource}}
    </div>

  </div>
</section>

<style>
  @font-face {
    font-family: "m6x11";
    src: url("/fonts/genuary25/m6x11.ttf") format("truetype");
  }
</style>


{{> require codeHighlight=true}}

<script>
  var md = new showdown.Converter({ openLinksInNewWindow: true });

  $("#description").html(md.makeHtml(`#Genuary 2025

[Day 3](https://genuary.art/prompts#jan2) prompt: "Exactly 42 lines of code."

This isn't really much to look at, but today's challenge got me to upgrade my tooling quite a bit. I added a code renderer with syntax highlighting, and added [Rapier](https://rapier.rs/) which is a 2D physics engine written in Rust. It compiles to WebAssembly which we can use in the browser. I'm excited to see what I can do with this in the future.

Clearly I'm still thinking about falling objects, from my viz from [yesterday](/blog/genuary-25-02). I wanted to see if using a library would shorten the code and allow me to do it in less lines.`));
</script>