<section id="example" class="blogpost">
  <div class="row" id="contentBox">
    <div class="col-xs-12 col-md-6">
      <br>
      <div id="exampleDiv"></div>
    </div>
  </div>
</section>

{{> require}}



<script>
  var md = new showdown.Converter({ openLinksInNewWindow: true });

  $("#exampleDiv").html(md.makeHtml(`#Genuary 2025

[Day 1](https://genuary.art/prompts#jan1) prompt: "Vertical or horizontal lines only."`));

</script>