<section id="example" class="blogpost">
  <div class="row" id="contentBox">
    <div class="col-xs-12 col-md-8">
      <br>
      <div id="exampleDiv"></div>
      <div id="day2viz" class="chart"></div>
    </div>
  </div>
</section>

<style>
  @font-face {
    font-family: "m6x11";
    src: url("/fonts/genuary25/m6x11.ttf") format("truetype");
  }
</style>


{{> require}}


<script>
  var md = new showdown.Converter({ openLinksInNewWindow: true });

  $("#exampleDiv").html(md.makeHtml(`#Genuary 2025

[Day 2](https://genuary.art/prompts#jan2) prompt: "Layers upon layers upon layers."

A <strike>love letter</strike> <i>note passed at the back of a classroom</i> to Solitaire and Balatro.`));


</script>