<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400&display=swap" rel="stylesheet">

<section>
  <br>

  <div id="screen">

  </div>

  <br>
  <button type="button" onclick="aniamteButton()">Animate</button>
</section>

<style>
  svg {
    font-family: 'Exo 2', sans-serif;
  }
</style>
  {{!-- font-family: Eurostile, Jura, sans-serif; --}}

<script src="/js/hal.js"></script>