<section id="madala" class="blogpost">
  <br>
  <div id="svg-box"></div>
</section>

<style>
  #svg-box {
    width: 1000px;
    height: 1000px;
    background: #fff;
    border: 5px solid black;
  }
</style>

{{> require}}