<section>
  In celebration of The Matrix 4 trailer being released, I was inspired to make recreate the Matrix's "raining code" :)
  <div id="matrix"></div>

</section>
<style>
  #matrix {
    font-family: 'Hack', 'Courier New', Courier, monospace;
    line-height: 20px;
    font-size: 9px;
  }
</style>

{{> require}}