<section>
  Welcome to the matrix
  <div id="matrix"></div>

</section>
<style>
  #matrix {
    font-family: 'Hack', 'Courier New', Courier, monospace;
    line-height: 20px;
    font-size: 9px;
  }
</style>

{{> require}}