
<table id="gitIssueTable">
  <tr>
    <th>Issue</th>
    <th>Date</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
</table>

<style>
  table {
    border-collapse: collapse;
    border: 1px solid black;
    td, th {
      border: 1px solid black;
      padding: 2px;
    }
  }
</style>

{{> require}}
