<br>

<table id="gitIssueTable">
  <tr>
    <th>Issue</th>
    <th>Date</th>
    <th>Title</th>
    <th class="descriptionCol">Description</th>
  </tr>
</table>

<style>
  table {
    border-collapse: collapse;
    border: 1px solid black;
    td, th {
      vertical-align: top;
      border: 1px solid black;
      padding: 2px;
    }
    img {
      max-width: 50%;
    }
    .date {
      white-space: nowrap;
    }
  }
</style>

{{> require}}
