{{> clean }}
{{> require }}
{{> tableCSS }}

<div style="margin-top:5px;">
  <button onclick="toggle_links()">Toggle Links</button>
  <button onclick="enable_dark_mode()">Enable Dark Mode</button>
</div>

{{#> tabs tabs="clinical,internal-reference,sankey,DataTable" }}
<table id="{{this}}">
  <thead></thead>
  <tbody></tbody>
</table>
{{/tabs}}

<script>
  function toggle_links() {
    $(".log_id_td").toggleClass("hideLinks");
  }

   $("body").toggleClass("enableDarkMode");
  function enable_dark_mode() {
    $("body").toggleClass("enableDarkMode");
  }
</script>

<style>
  td.log_id_td p {
    display: none;
  }

  td.log_id_td.hideLinks a {
    display: none;
  }

  td.log_id_td.hideLinks p {
    display: inline;
  }
</style>