<style>
  .sidebar {
    display: none;
  }

  div.words {
    border: solid 1px black;
    padding: 2px;
  }
  span.diff {
//    background-color: #FFD700;
  }
  span.add, span.diff-added {
    background-color: #90EE90;
  }
  span.del, span.diff-removed {
    background-color: #FF6347;
  }
  span.none {
    background-color: #FFFFFF;
  }
  span.replace {
    background-color: #87CEFA;
  }
</style>

<section id="example" class="blogpost">
  <div class="row" id="contentBox">
    <div class="col-xs-6 col-md-6">
      <br>
      <div id="raw"></div>
    </div>
    <div class="col-xs-6 col-md-6">
      <br>
      <div id="edited"></div>
    </div>
  </div>
</section>
<script src="/js/diff_match_patch.js"></script>

{{> require}}



<script>
  console.log("hey?")

  var md = new showdown.Converter({openLinksInNewWindow: true});

  $("#exampleDiv").html(md.makeHtml(
`#Blogpost
Write a blog post here`
  ));

</script>
