<style>
  .sidebar {
    display: none;
  }
</style>

<section id="example" class="blogpost">
  <div class="row" id="contentBox">
    <div class="col-xs-6 col-md-6">
      <br>
      <div id="raw"></div>
    </div>
    <div class="col-xs-6 col-md-6">
      <br>
      <div id="edited"></div>
    </div>
  </div>
</section>

{{> require}}



<script>
  console.log("hey?")

  var md = new showdown.Converter({openLinksInNewWindow: true});

  $("#exampleDiv").html(md.makeHtml(
`#Blogpost
Write a blog post here`
  ));

</script>
