<style>
  .sidebar,
  header,
  footer {
    display: none;
  }

  div.words {
    border: solid 1px black;
    padding: 2px;
  }

  span.diff {
    //    background-color: #FFD700;
  }

  span.add,
  span.diff-added {
    background-color: #90EE90;
  }

  span.del,
  span.diff-removed {
    background-color: #FF6347;
  }

  span.none {
    background-color: #FFFFFF;
  }

  span.replace {
    background-color: #87CEFA;
  }

  body,
  #dataviz_blog {
    background: #f8f9fa;
  }

  #contentBox {
    background: #ffffff;
  }

  html,
  #dataviz_blog {
    font-family: sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif Pro', serif;
  }

  div#header,
  div#slider {
    padding-bottom: 2px;
    border-bottom: solid 1px #a2a9b1;
  }

  div#slider svg {
    width: 100%;
  }

  div#header {
    background: white;
    position: sticky;
    top: 0;
  }

  div#logo-replacement {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 15px;

    a {
      color: black;


      img {
        padding: 5px;
        margin: 2px;
      }

      span.mw-logo-container {
        margin-top: 5px;
        font-size: 15px;
        float: right;

        h1 {
          font-size: 1.48em;
          margin: 0;
        }

        h2 {
          font-size: 1em;
          margin: 0;
        }
      }
    }

  }
</style>

<section id="example" class="blogpost">
  <div class="row" id="contentBox">
    <div class="col-xs-2">
      <div id="logo-replacement">
        <a href="/">
          <img class="mw-logo-icon" src="https://en.wikipedia.org/static/images/icons/wikipedia.png" alt=""
            aria-hidden="true" height="50" width="50">
          <span class="mw-logo-container">
            <h1>David's Dataviz</h1>
            <h2>Not actually Wikipedia</h2>
          </span>
        </a>

      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorum aliquam tempore quasi aperiam magni
        soluta. Voluptates rem voluptate culpa repellendus voluptas unde, dignissimos veritatis, doloremque porro rerum,
        suscipit nihil.</p>

      <div id="sideinfo"></div>

    </div>
    <div class="col-xs-8">
      <div id="header">
        <h1>Ship of Theseus</h1>
        <div id="slider"></div>
      </div>

      <div id="main">
      </div>
    </div>
  </div>
</section>
<script src="/js/diff_match_patch.js"></script>
<script src="/js/showdown-wiki.js"></script>

{{> require}}



<script>
  console.log("hey?")

  var md = new showdown.Converter({ openLinksInNewWindow: true });

  $("#sideinfo").html(md.makeHtml(
`##Todo:
- Mobile friendly version
- Add better axis to the scrubber
- Add info on hover when scrubbing
- Fix all the wiki markup
- Publish ShowdownJS wiki plugin?
- Add a link to the original article
- Add a link to the source code
- Add a link to the data (or how to download data)
- Fix the references in wiki markdown?
- Put a table of contents here?
- Highlight differences when changing versions?
- Smoother transition, animations?
`
  ));

</script>