<section class="blogpost">
    <div class="row">
        <div class="col-xs-12">
            <h1>Number of years USA was at war, during your lifetime</h1>
            <h2>Originally on <a target="_blank" href="https://www.washingtonpost.com/politics/2020/01/08/nearly-quarter-americans-have-never-experienced-us-time-peace/">The Washington Post</a> by <a target="_blank" href="https://twitter.com/pbump">@pbump</a></h2>
        </div>
    </div>

    <div class="row" id="AmericanWars">
        <div class="col-xs-12 col-md-6">
                <div id="war_chart"></div>

            <div>
                <input type="button" value="George Washington" onclick="celebrity(1732,1799)">
                <input type="button" value="John F. Kennedy" onclick="celebrity(1917,1963)">
                <input type="button" value="Alexander Hamilton" onclick="celebrity(1757,1804)">
                <input type="button" value="Elvis Presley" onclick="celebrity(1935,1977)">
                <input type="button" value="Abraham Lincoln" onclick="celebrity(1809,1865)">
            </div>
        </div>
        <div class="col-xs-12 col-md-6">

            <div id="explain"></div>
            <span>Birth:
                <input id="birthyear" placeholder="1905"></span>
            <br>
            <span>Death:
                <input id="deathyear" placeholder="N/A"></span>
            <input type="button" value="Update birth/death year" onclick="drawPieChart()">
            <div id="explain2"></div>

            <table style="border: solid 1px grey; margin: 5px 0;">
                <thead>
                    <tr></tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="download_csv_link">
                <a target="_blank" href="/war/AmericanWars.csv">Download CSV</a>
            </div>
        </div>
    </div>
</section>

{{> require}}

<script>

    var md = new showdown.Converter({openLinksInNewWindow: true});

    $("#explain").html(md.makeHtml(`
I redrew Philip Bump's diagram from his article "Nearly a quarter of Americans have never experienced the U.S. in a time of peace" as an exercise to practice d3.js.

Simply enter your birth year here & it will recalculate the diagram.`));


    $("#explain2").html(md.makeHtml(`Note that the "start" & "end" years reflect USA's involvement in the war, not the total length of each war.

And yes, I know that you're supposed to improve the diagram for [#makeovermonday](https://www.makeovermonday.co.uk/), but I'm just doing this as a warmup exercise. Maybe next week I'll change the diagram more.

Todo:
 * Better labels, e.g. Years each war started
 * Hoverover for labels?
 `));
</script>