<section class="blogpost">
    <div class="row">
        <div class="col-xs-12">
            <h1>World Wealth</h1>
            <div id="explain"></div>
        </div>
    </div>

    <div class="row" id="wealth">

    </div>
<style>
#dataset {
    border: solid 1px grey; padding: 5px;
}
#dataset table {
    border: solid 1px grey; margin: 5px 0;
}
#dataset td {
    border: solid 1px lightgrey;
}
</style>
    <div id="dataset">
        <div class="download_csv_link"><a target="_blank" href="/wealth/WorldWealth.csv">Download CSV</a></div>
        <table></table>
    </div>
</section>

{{> require}}

<script>

    const md = new showdown.Converter({openLinksInNewWindow: true});

    $("#explain").html(md.makeHtml(`
Let's draw the world's wealth as a tree map.

`));

</script>