
<style>
#dataset {
    border: solid 1px grey; padding: 5px;
}
#dataset table {
    border: solid 1px grey; margin: 5px 0;
}
#dataset td {
    border: solid 1px lightgrey;
}
#wealth th {
    padding: 3px;
}
</style>

<section class="blogpost">

    <div class="row" id="wealth">

        <div class="col-sm-8" id="chart">
            <h1>World Wealth</h1>
            <div id="explain"></div>
        </div>

        <div class="col-sm-4" id="dataset">
            <div class="download_csv_link"><a target="_blank" href="/wealth/WorldWealth.csv">Download CSV</a></div>
            <table></table>
        </div>
    </div>
</section>

{{> require}}

<script>

    const md = new showdown.Converter({openLinksInNewWindow: true});

    $("#explain").html(md.makeHtml(`
Let's draw the world's wealth as a tree map.

`));

</script>