<section>
  <h1>Winamp Dataviz</h1>
  <p>Someone <a href="https://redd.it/otdq7c">on reddit</a> asked how to remake this winamp type visualsation in d3js,
    so here's my attempt.</p>
  <p>Video (mp4) version:</p>
  <video draggable="false" controls="" playsinline="" autoplay="true" loop="" class="">
    <source type="video/mp4" src="https://i.imgur.com/KV3Egcm.mp4">
  </video>
  <p>Javascript version written with d3js:</p>
  <div id="viz"></div>
  <p>I've set the movement using a random number generator.
    The aesthetic could probably be improved by using some sine waves or other math.</p>
  <p>You can see the code for this dataviz on <a
      href="https://github.com/david-ma/dataviz/blob/master/src/js/winamp.ts">github</a>.</p>
</section>

{{> require}}

<style>
  #viz,
  video {
    max-width: 600px;
    max-height: 340px;
    width: 100%;
  }

  #viz {
    background-image: radial-gradient(farthest-corner at 40px 40px, #f35 0%, #43e 100%);

    rect {
      display: none;
    }

    line {
      stroke: #48fff4;
      opacity: 0.5;
    }
  }
</style>