<section>
  <p>Someone <a href="https://redd.it/otdq7c">on reddit</a> asked how to remake this winamp type visualsation in d3js,
    so here's my attempt</p>
  <video draggable="false" playsinline="" autoplay="" loop="" class="" style="width: 600px; height: 400px;">
    <source type="video/mp4" src="https://i.imgur.com/KV3Egcm.mp4">
  </video>
  <p>d3js version:</p>
  <div id="viz"></div>
  <p>I've set the movement using a random number generator.
    The aesthetic could probably be improved by using some sine waves or other math.</p>
  <p>You can see the code for this dataviz on <a
      href="https://github.com/david-ma/dataviz/blob/master/src/js/winamp.ts">github</a>.</p>
</section>

{{> require}}

<style>
  #viz {
    width: 600px;
    height: 400px;
  }

  #viz line {
    stroke: #48fff4;
    opacity: 0.5;
  }
  #viz {
    background-image: radial-gradient(farthest-corner at 40px 40px,
      #f35 0%, #43e 100%);
  }
  #viz rect {
    display: none;
  }
</style>