<br>



<form onsubmit="submitWord()" id="wordForm">
  <input id="word" onsubmit="submitWord()">
  <input type="button" value="submit" onclick="submitWord()">
</form>

<div id="attempts">
  <table>
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>


<ul id="bestWords">

</ul>


<style>
  #attempts table {
    margin: 5px;

    td {
      height: 30px;
      width: 30px;
      border-collapse: collapse;
      border: 1px solid black;
      padding: 2px;
      text-align: center;
      text-transform: uppercase;
    }
  }
</style>

{{> require}}