<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Camera</title>

</head>
<body>
	<header>
		<div class="blur_background">
			<div class="mask"></div>
		</div>
	</header>

	<div class="container page">
		<div class="row">
			<div class="col-xs-12">
				<input id="box">
				
				<h1 id="brandTitle">{{brand}}</h1>
				{{! <img src="/{{scrape.img} }"> }}

				<table id="cameras">

				</table>
            </div>
		</div>
	</div>

	{{> footer}}
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/thalia.css">
	<script src="/js/vendor.min.js"></script>
    <script src="/js/scripts.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  



	<script>
        var cameras = {{{cameras}}};


        console.log(`Found ${cameras.length} cameras`);

        if(cameras.length == 0) alert("No cameras found for this brand");


        var cameraTable = d3.select("table#cameras")
        cameras.forEach(function(camera){
            var tr = cameraTable.append("tr");

            tr.append("td").text(camera.year);
            tr.append("td").text(camera.brand);
            tr.append("td").text(camera.model);



        });




        $( function() {
			$( "#box" ).autocomplete({
				source: "{{{allCameras}}}"
			});
            // $.ajax("/all-cameras", {
            //     success: function(data){
			// 		var allCameras = eval(data);
			// 		console.log(`Number of cameras: ${allCameras.length}`);
            //         $( "#box" ).autocomplete({
            //             source: eval(allCameras)
            //         });
            //     }
            // })
        })
    </script>
</body>
</html>
