/*
 * David Ma - March 2018
 */
/* line 7, websites/dataviz/src/css/chart.scss */
#big-chart {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 1000;
}

/* line 17, websites/dataviz/src/css/chart.scss */
#big-chart svg {
  height: 100%;
  width: 100%;
}

/* line 23, websites/dataviz/src/css/chart.scss */
.chart {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* Axes */
}

/* line 26, websites/dataviz/src/css/chart.scss */
.chart .chart-title {
  text-anchor: middle;
  font-size: 24px;
}

/* line 31, websites/dataviz/src/css/chart.scss */
.chart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

/* line 38, websites/dataviz/src/css/chart.scss */
.chart path {
  stroke: none;
}

/* line 41, websites/dataviz/src/css/chart.scss */
.chart .y.axis text {
  font-size: 14px;
}

/* line 47, websites/dataviz/src/css/chart.scss */
.chart .x.axis text {
  font-size: 12px;
  fill: #333333;
}

/* line 51, websites/dataviz/src/css/chart.scss */
.chart .x.axis line {
  stroke-width: 1;
  stroke: #D3D3D3;
  shape-rendering: crispEdges;
}

/* line 58, websites/dataviz/src/css/chart.scss */
.chart:hover .chart-nav {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));
}

/* line 60, websites/dataviz/src/css/chart.scss */
.chart:hover .chart-nav .expander {
  display: block;
}

/* line 66, websites/dataviz/src/css/chart.scss */
.chart .chart-nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

/* line 73, websites/dataviz/src/css/chart.scss */
.chart .chart-nav .expander {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  background: white;
  padding: 5px;
  border: solid 1px black;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  text-align: center;
  margin: 10px;
  display: none;
}

/* line 88, websites/dataviz/src/css/chart.scss */
.chart .chart-nav .expander:hover {
  border: solid 2px black;
}

/* line 107, websites/dataviz/src/css/chart.scss */
.chart .vennDiagram .activeShape {
  cursor: pointer;
}

/* line 109, websites/dataviz/src/css/chart.scss */
.chart .vennDiagram .activeShape text {
  fill: black;
}

/* line 113, websites/dataviz/src/css/chart.scss */
.chart .vennDiagram .left {
  fill: #ffcccc;
}

/* line 115, websites/dataviz/src/css/chart.scss */
.chart .vennDiagram .left.selected {
  fill: #e60000;
}

/* line 118, websites/dataviz/src/css/chart.scss */
.chart .vennDiagram .left:hover {
  fill: #ff8080;
}

/* line 122, websites/dataviz/src/css/chart.scss */
.chart .vennDiagram .mid {
  fill: #d194d1;
}

/* line 124, websites/dataviz/src/css/chart.scss */
.chart .vennDiagram .mid.selected {
  fill: #592659;
}

/* line 127, websites/dataviz/src/css/chart.scss */
.chart .vennDiagram .mid:hover {
  fill: #ba5eba;
}

/* line 131, websites/dataviz/src/css/chart.scss */
.chart .vennDiagram .right {
  fill: #ccddff;
}

/* line 133, websites/dataviz/src/css/chart.scss */
.chart .vennDiagram .right.selected {
  fill: #004de6;
}

/* line 136, websites/dataviz/src/css/chart.scss */
.chart .vennDiagram .right:hover {
  fill: #80aaff;
}

/* line 149, websites/dataviz/src/css/chart.scss */
.dataviz-page section {
  padding-bottom: 40px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
}

/* line 154, websites/dataviz/src/css/chart.scss */
.dataviz-page section.hidden {
  display: none;
}

/* line 160, websites/dataviz/src/css/chart.scss */
.dataviz-page #dataset .largeTable {
  overflow: scroll;
  border: 1px solid grey;
  border-radius: 3px;
  margin-top: 10px;
  padding: 10px;
}

/* line 167, websites/dataviz/src/css/chart.scss */
.dataviz-page #dataset .largeTable .dataTables_wrapper {
  width: 100vw;
}

/* line 170, websites/dataviz/src/css/chart.scss */
.dataviz-page #dataset .largeTable .dataTables_info, .dataviz-page #dataset .largeTable .dataTables_length, .dataviz-page #dataset .largeTable .download_csv_link {
  position: -webkit-sticky;
  position: sticky;
  left: 10px;
}

/* line 174, websites/dataviz/src/css/chart.scss */
.dataviz-page #dataset .largeTable .dataTables_paginate {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
}

/* line 178, websites/dataviz/src/css/chart.scss */
.dataviz-page #dataset .largeTable .dataTables_filter {
  position: -webkit-sticky;
  position: sticky;
  right: 10px;
}

/* line 183, websites/dataviz/src/css/chart.scss */
.dataviz-page #dataset .largeTable.hidden {
  display: none;
}

/* line 188, websites/dataviz/src/css/chart.scss */
.dataviz-page #dataset table tbody {
  line-height: 1em;
  font-size: 12px;
  font-family: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;
}

/* line 196, websites/dataviz/src/css/chart.scss */
.dataviz-page #dataset table tbody tr:hover {
  background: #ddd;
}

/* line 200, websites/dataviz/src/css/chart.scss */
.dataviz-page #dataset table tbody td {
  padding: 2px 3px;
  border: 1px solid #eee;
  white-space: nowrap;
}

/* line 209, websites/dataviz/src/css/chart.scss */
.dataviz-page img {
  width: 100%;
  border: 1px solid grey;
}

/* line 214, websites/dataviz/src/css/chart.scss */
.dataviz-page h1 {
  font-size: 30px;
}

/* line 217, websites/dataviz/src/css/chart.scss */
.dataviz-page h2 {
  font-size: 20px;
}

/* line 220, websites/dataviz/src/css/chart.scss */
.dataviz-page h1 + h2, .dataviz-page h2 + h2 {
  margin-top: 0;
}

/* line 224, websites/dataviz/src/css/chart.scss */
.dataviz-page blockquote p {
  margin: 1px;
  font-size: 0.8em;
}

/* line 230, websites/dataviz/src/css/chart.scss */
.dataviz-page .world-map path.country {
  fill: lightgrey;
  stroke: darkgrey;
}

/* line 235, websites/dataviz/src/css/chart.scss */
.dataviz-page .world-map .graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

/* line 242, websites/dataviz/src/css/chart.scss */
.dataviz-page .world-map .boundary {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}
