<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Camera</title>

</head>
<body>
	<header>
		<div class="blur_background">
			<div class="mask"></div>
		</div>
	</header>

	<div class="container page">
        <h1>{{model.model}}</h1>

		<div class="row">
			<div class="col-xs-12">
				<input id="box">
				
				{{! <img src="/{{scrape.img} }"> }}

				<table>
					<tr><td>Brand</td><td>{{model.brand}}</td></tr>
					<tr><td>Megapixels</td><td>{{model.megapixels}}</td></tr>
					<tr><td>Brand</td><td>{{model.brand}}</td></tr>
					<tr><td>Brand</td><td>{{model.brand}}</td></tr>
					<tr><td>Brand</td><td>{{model.brand}}</td></tr>
					<tr><td>Brand</td><td>{{model.brand}}</td></tr>
					<tr><td>Brand</td><td>{{model.brand}}</td></tr>
					<tr><td>Brand</td><td>{{model.brand}}</td></tr>
				</table>
            </div>
		</div>
	</div>

	{{> footer}}
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/thalia.css">
	<script src="/js/vendor.min.js"></script>
    <script src="/js/scripts.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  



	<script>
		console.log({{{cameraData}}});

        $( function() {
			$( "#box" ).autocomplete({
				source: {{{allCameras}}}
			});
            // $.ajax("/all-cameras", {
            //     success: function(data){
			// 		var allCameras = eval(data);
			// 		console.log(`Number of cameras: ${allCameras.length}`);
            //         $( "#box" ).autocomplete({
            //             source: eval(allCameras)
            //         });
            //     }
            // })
        })
    </script>
</body>
</html>
