<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>title</title>


</head>
<body>
	{{> header}}

	<div class="container page">
		<div class="row">
			<div class="col-xs-12">

			<h1>hello world</h1>

            </div>
		</div>
	</div>

	{{> footer}}
<!-- 	<link rel="stylesheet" href="/css/default.css"> -->
	<link rel="stylesheet" href="/css/thalia.css">
	<script src="/js/vendor.min.js"></script>
    <script src="/js/scripts.min.js"></script>

	<script>

        $( function() {

        })
    </script>
</body>
</html>
