<link rel="stylesheet" href="/css/vendor.min.css?v={{gitHash}}">
<link rel="stylesheet" href="/css/BootstrapXL.css?v={{gitHash}}">
<link rel="stylesheet" href="/css/thalia.css?v={{gitHash}}">
<link rel="stylesheet" href="/css/dataviz.css?v={{gitHash}}">
<link rel="stylesheet" href="/css/chart.css?v={{gitHash}}">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css?v={{gitHash}}">
<script src="/js/vendor.min.js?v={{gitHash}}"></script>
<script src="/js/scripts.min.js?v={{gitHash}}"></script>
<script src="/js/showdown.min.js?v={{gitHash}}"></script>
<script src="/js/datatables.min.js?v={{gitHash}}"></script>
