<h3>Source Code:</h3>
<pre id="codeDisplay" class="language-typescript">
  {{{typescript}}}
</pre>

<style>
  @font-face {
    font-family: "m6x11";
    src: url("/fonts/genuary25/m6x11.ttf") format("truetype");
  }

  pre#codeDisplay {
    background: #282c34;
    padding: 1em;
    border-radius: 5px;
    overflow-x: auto;
    width: 100%;
  }

  /* for block of numbers */
  .hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 15px;
  }

  table.hljs-ln tr {
    td.hljs-ln-numbers {
      padding-right: 0.5em;
      text-align: right;
    }

    td.hljs-ln-code {
      padding-left: 0.5em;
    }
  }
</style>
<link rel="stylesheet" href="/css/vendor/atom-one-dark-for-highlight.js.11.7.0.min.css">
<script src="/js/vendor/highlight.11.7.0min.js"></script>
<script src="/js/vendor/highlight.js-line-numbers.min.js"></script>
<script>
  hljs.initLineNumbersOnLoad();

  fetch("/source/{{typescript}}")
    .then(response => response.text())
    .then(code => {
      document.getElementById('codeDisplay').textContent = code;
      hljs.highlightElement(document.getElementById('codeDisplay'));
      hljs.lineNumbersBlock(document.getElementById('codeDisplay'));
    });
</script>