
#big-chart {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 1000;
}

#big-chart svg {
    height: 100%;
    width: 100%;
}

