/*
 * David Ma - March 2018
 */



#big-chart {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 1000;
    svg {
        height: 100%;
        width: 100%;
    }
}

.chart {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

    .chart-title {
        text-anchor: middle;
        font-size: 24px;
    }

    /* Axes */
    path {
        stroke: none;
    }
    .y.axis text {
        font-size: 14px;
    }
    .y.axis line {
        //display: none;
    }
    .x.axis text {
        font-size: 12px;
        fill: #333333;
    }
    .x.axis line {
        stroke-width: 1;
        stroke: #D3D3D3;
        shape-rendering: crispEdges;
    }

    &:hover {
        .chart-nav {
            background: linear-gradient(to bottom,rgba(255,255,255,0),rgba(0,0,0,.3));
            .expander {
                display: block;
            }
        }
    }

    .chart-nav {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;

        .expander {
            cursor: pointer;
            height: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
            background: white;
            padding: 5px;
            border: solid 1px black;
            border-radius: 5px;
            height: 30px;
            width: 30px;
            text-align: center;
            margin: 10px;
            display: none;
            &:hover {
                border: solid 2px black;
            }
        }
    }

}
