
#dataviz_homepage {
    #aboutMe.hidden {
        display: none;
    }
    ul#nav {
        list-style: none;
        padding: 0;
    }
    .preview {
        height: 400px;
        border: solid 1px black;
        padding: 15px;
        h2 {
            margin-top: 0;
        }
        p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        img {
            position: absolute;
            bottom: 0;
            margin-bottom: 15px;
            max-height: 65%;
            left: 50%;
            transform: translate(-50%, 0);
            max-width: 100%;
            max-width: calc(100% - 30px);
            border: solid 1px grey;
        }
    }
}
