body {
    background-color: #eee;
}

.page {
    background-color: #fff;
    height: 100%;
    min-height: calc(100vh - 100px - 50px);
}

header {
    width: 100%;
    height: 100px;
    background: #333e52;
}

header .blur_background {
    height: 100px;
    width: 100%;
    position: absolute;
    background: url("/images/unsplash.jpg");
    background-size: cover;
    background-position: 50% 60%;
}

footer {
    width: 100%;
    height: 50px;
    background: #ddd;
}

.mask {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
}

header .container {
    padding-top: 300px;
}

header h1 {
    font-size: 60px;
    color: #eee;
    margin: 0;
}

header h2 {
    font-size: 30px;
    color: #eee;
    margin: 0;
}

#dataviz_homepage {
    #aboutMe.hidden {
        display: none;
    }
    ul#nav {
        list-style: none;
        padding: 0;
    }
    .preview {
        height: 400px;
        border: solid 1px black;
        padding: 15px;
        h2 {
            margin-top: 0;
        }
        p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        img {
            position: absolute;
            bottom: 0;
            margin-bottom: 15px;
            max-height: 65%;
            left: 50%;
            transform: translate(-50%, 0);
            max-width: 100%;
            max-width: calc(100% - 30px);
            border: solid 1px grey;
        }
    }
}
