<section class="">

    <div class="row" id="contentBox">
        <div>
            <ul id="tabs">
            </ul>
        </div>
        <form>
            <div class="col-xs-12 col-md-12" id='AwesomeStuff'></div>
        </form>
    </div>
</section>

<style>
    #title {
        text-align: center;
    }
    body.print {
        div.categories {
            display: inline-block !important;
        }
        font-size: 14px;

        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 21px;
        }
        h3 {
            font-size: 18px;
            font-weight: 600;
        }
        .smaller p {
            font-size: 13px;
            margin: 0 0 0 3px;
        }

        div.extra_questions {
            h3 {
                font-size: 12px;
                margin-top: 10px;
                margin-bottom: 0;
            }
        }
    }
    br.page-break {
        page-break-before: always;
        page-break-inside: auto;
    }

    div.project {
        page-break-before: always;
        page-break-inside: avoid;
        page-break-after: always;
    }
    div.project.printProject {
        height: 270mm;
        width: 200mm;
    }
</style>

<link rel="stylesheet" href="/css/awesome.min.css">

<script src="/socket.io/socket.io.js"></script>
<script src="/js/awesome.js"></script>