<div>
  <h1>Home budget</h1>
  <table>
    <thead>
      <th>Category</th>
      <th>Amount</th>
      <th>Count</th>
      <th>Percent</th>
      <th>David</th>
      <th>Grace</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>




<style>
  table {
    border-collapse: collapse;

    td,
    th {
      border: solid 1px black;
      padding: 2px;
    }
  }
</style>

{{> require}}