{{> clean }}
{{> require }}
{{> tableCSS }}

<style>

  #map {
    border: 1px solid black;
    max-width: 800px;
  }

  textarea.notes {
    min-width: 200px;
    width: 100%;
    min-height: 100px;
    height: 100%;
  }

  #options {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    input[type="radio"] {
      color: red;
      border: 1px solid black;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
    .state_option {
      border: 1px solid black;
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 5px;
    }
  }

{{!-- //<th data-dt-column="0" rowspan="1" colspan="1" class="dt-type-date dt-orderable-asc dt-orderable-desc dt-ordering-asc" aria-sort="ascending"><div class="dt-column-header"><span class="dt-column-title">Latest Date</span><span class="dt-column-order" role="button" aria-label="Latest Date: Activate to invert sorting" tabindex="0"></span></div></th> --}}

  th.dt-ordering-asc {
    div.dt-column-header::after {
      content: '↑';
    }
  }
  th.dt-ordering-desc {
    div.dt-column-header::after {
      content: '↓';
    }
  }


</style>

<section class="blogpost">


  <div class="row" style="padding: 10px;">
    <div id="map" style="display: none;" class="col-xs-6"></div>
    <div id="buttons" class="col-xs-12">
    </div>
  </div>
  <div class="row" id="contentBox">
    <div class="col-xs-12 col-lg-8">
      <div id="debtors"><table></table></div>

      <div id="ip_addresses">
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>IP</th>
              <th>Location</th>
              <th>Coords</th>
              <th>Debtor</th>
              <th>Orders</th>
              <th>Searches</th>
              {{!-- <th>Notes (These are not being saved... yet)</th> --}}
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{{> require }}