{{> clean }}
{{> require }}
{{> tableCSS }}

<style>

  #map {
    border: 1px solid black;
    max-width: 800px;
  }

  textarea.notes {
    min-width: 200px;
    width: 100%;
    min-height: 100px;
    height: 100%;
  }

  #options {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    input[type="radio"] {
      color: red;
      border: 1px solid black;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
    .state_option {
      border: 1px solid black;
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 5px;
    }
  }

</style>

<section class="blogpost">


  <div class="row">
    <div id="map" class="col-xs-8"></div>
    <div id="options" class="col-xs-4">
      {{!-- radio buttons --}}
      <div id="state_options">
        <div class="state_option">
          <input type="radio" name="state" value="All" checked></input>
          <label for="All">All</label>
        </div>
        <div class="state_option">
          <input type="radio" name="state" value="NSW"></input>
          <label for="NSW">NSW</label>
        </div>
        <div class="state_option">
          <input type="radio" name="state" value="VIC"></input>
          <label for="VIC">VIC</label>
        </div>
        <div class="state_option">
          <input type="radio" name="state" value="QLD"></input>
          <label for="QLD">QLD</label>
        </div>
        <div class="state_option">
          <input type="radio" name="state" value="WA"></input>
          <label for="WA">WA</label>
        </div>
        <div class="state_option">
          <input type="radio" name="state" value="SA"></input>
          <label for="SA">SA</label>
        </div>
        <div class="state_option">
          <input type="radio" name="state" value="TAS"></input>
          <label for="TAS">TAS</label>
        </div>
        <div class="state_option">
          <input type="radio" name="state" value="NT"></input>
          <label for="NT">NT</label>
        </div>
        <div class="state_option">
          <input type="radio" name="state" value="ACT"></input>
          <label for="ACT">ACT</label>
        </div>
      </div>
      <button id="update">Update</button>
    </div>
  </div>
  <div class="row" id="contentBox">
    <div class="col-xs-12 col-lg-8">
      <div id="ip_addresses">
        <table>
          <thead>
            <tr>
              <th>IP</th>
              <th>Location</th>
              <th>Coords</th>
              <th>Debtor</th>
              <th>Orders</th>
              <th>Searches</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      {{> showSource }}
    </div>
  </div>
</section>

{{> require }}