{{!-- Add a nav for all the genuary posts --}}
{{!-- 
<h2>Genuary 2025</h2>
<ul>
  <li>
    <a href="/blog/genuary-25-01">Day 1</a>
  </li>
  <li>
    <a href="/blog/genuary-25-02">Day 2</a>
  </li>
  <li>
    <a href="/blog/genuary-25-03">Day 3</a>
  </li>
</ul>

<script>
//  console.log("genuary nav loaded");
</script> --}}