<section class="blogpost">
  {{> genuary }}

  <div class="row" id="contentBox">
    <div class="col-xs-12 col-lg-8">
      <div id="description"></div>
      <div id="datavizChart" class="chart"></div>
      {{> showSource}}
    </div>

  </div>
</section>

{{> require }}

<script>
  var md = new showdown.Converter({ openLinksInNewWindow: true });

  $("#description").html(md.makeHtml(`#Genuary 2025

[Day 5](https://genuary.art/prompts#jan5) prompt: "Isometric Art (No vanishing points)."

I'm just using this scratchpad to figure out the math for lighting the shapes from yesterday.

Turns out it counts as isometric art, so I'll post this as my day 5.`));
</script>