<section id="example" class="blogpost">
  <div class="row" id="contentBox">
    <div class="col-xs-12">
      <br>
      <div id="intro"></div>
      {{!-- <button id="addButton" onclick="addExtraGeorgia()">Add more Georgias</button> --}}
      <div id="georgiaChart"></div>
      <p id="statement"></p>
      <div id="todo"></div>
      {{> showSource}}
    </div>
  </div>
</section>

{{> require}}


<style>
  g.marker {

    circle,
    line {
      fill: none;
      stroke: rgb(255, 247, 156);
      stroke-width: 1px;
      filter: drop-shadow(0 0 1px rgb(255, 234, 0));
    }

  }


  button#addButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #georgiaChart {
    text {
      text-anchor: middle;
      font: message-box;
      color: white;
      fill: white;
      filter: drop-shadow(0 0 2px rgb(39, 144, 44));
    }

    svg g.plot rect {
      fill: #231f50;
    }

    svg path {
      stroke: #ad9090b3;
      stroke-width: 0.5;
      filter: drop-shadow(0 0 1px rgb(112, 39, 238));

      &.georgia {
        fill: #f00;
        stroke: #f00;
      }

      &.travel-line {
        stroke: rgb(147, 237, 255);
        filter: drop-shadow(0 0 1px rgb(0, 255, 255));
        fill: none;

        /* add a moving ball to the line */
      }
    }

    .active {
      image {
        transform: scaleX(-1);
      }

      .mark-label {
        display: none;
      }

      &.travel-line {
        display: none;
      }
    }
  }
</style>


<script>
  var md = new showdown.Converter({ openLinksInNewWindow: true });

  $("#intro").html(md.makeHtml(
    `Which Georgia are you closest to?
This helpful world map will show you which Georgia you are closest to.

Georgia the US State (32.1656° N, 82.9001° W) or Georgia the Country (42.3154° N, 43.3569° E)`
  ));

  $("#todo").html(md.makeHtml(`
##TODO

Core features being practiced in this exericse:
- geojson
- d3 map projection
- d3 drag and drop (for repositioning your pin)
- geoip database lookup, to get visitor’s location by IP address
- calculate distance (and take into account that the world is round and you might be closer to the other one if you go _left_ at the equator)
- mobile friendly layout
- deployment & quick redeployment

Feature requests:
- Extra Georgias (e.g. South Georgia island)
- What if you’re inside a Georgia? Get boundaries of each Georgia and check if you’re in one? Find closest distance to edge of a Georgia, to return as the result? Currently each location is just based on point coordinates, not a shape/geojson feature.

Stretch goal:
- Draw a better, more accurate pin
- animation of pin being picked up & moved
- different projections
- animation between projections
- Allow user comments/notes to be left? Or submit corrections if the wrong location is looked up?

Tests to write:
- Test that map builds?
- Test geoip lookup is accurate
- Test drag, dragging, drop?
- Test coordinates -> kilometres calculation See less
`))

</script>