<link rel="stylesheet" href="/css/wiki.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/diff_match_patch/20121119/diff_match_patch.js"></script>
{{!-- <script src="/js/wiki.js" type="module"></script> --}}

<section id="example" class="blogpost">
  <div class="row" id="contentBox">
    <div class="col-xs-2">
      <div id="logo-replacement">
        <a href="/">
          <img class="mw-logo-icon" src="https://en.wikipedia.org/static/images/icons/wikipedia.png" alt=""
            aria-hidden="true" height="50" width="50">
          <span class="mw-logo-container">
            <h1>David's Dataviz</h1>
            <h2>Not actually Wikipedia</h2>
          </span>
        </a>

      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorum aliquam tempore quasi aperiam magni
        soluta. Voluptates rem voluptate culpa repellendus voluptas unde, dignissimos veritatis, doloremque porro rerum,
        suscipit nihil.</p>

      <div id="sideinfo"></div>

    </div>
    <div class="col-xs-8">
      <div id="header">
        <h1>Ship of Theseus</h1>
        <div id="slider"></div>
      </div>

      <div id="main">
      </div>
    </div>
  </div>
</section>

{{> require}}

<script>
  console.log("hey?")

  var md = new showdown.Converter({ openLinksInNewWindow: true });

  $("#sideinfo").html(md.makeHtml(
`##Todo:
- Mobile friendly version
- Add better axis to the scrubber
- Add info on hover when scrubbing
- Fix all the wiki markup
- Publish ShowdownJS wiki plugin?
- Add a link to the original article
- Add a link to the source code
- Add a link to the data (or how to download data)
- Fix the references in wiki markdown?
- Put a table of contents here?
- Highlight differences when changing versions?
- Smoother transition, animations?
`
  ));

</script>